<div class="hero">
  <div class="hero-overlay">
  <h1 style="color: #000000e9;">Welcome to Memory Track</h1>
  <p style="color: #000000e9;">A simple application to manage and keep memories</p>
  </div>
  <% if (locals.currentUser) { %>
    <a href="/user/<%= currentUser.id %>" class="btn btn-accent"> Profile</a>
<% } else { %> 
  <a href="/auth/signup" class="btn btn-accent">Get Started</a>
<% } %>
</div>

<% if (locals.posts) { %>
  <div>
    <% for( let i = 0; i < locals.posts.length; i++ ) { %>
      <div class="post">
        <h2><%= locals.posts[i].title %></h2>
        <p><%= locals.posts[i].content %></p>
        <p><%= locals.posts[i].createdAt %></p>
        <% if (locals.currentUser && locals.currentUser.id === locals.posts[i].userId) { %>
          <a href="/post/<%= locals.posts[i].id %>/edit" class="btn btn-accent">Edit</a>
          <form action="/post/<%= locals.posts[i].id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        <% } %>
      </div>
  
    <% } %>
  </div>
<% } %>
